
body {
    height: 150vh;
    width: 100vw;
}
 .nav-link{
    margin-left: 10px;
}
.form-inline{
    margin-left: 5vw;
    width: 75vw;
}
button {
    margin-top: 1rem;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.artists {
    margin-top: 20px;
}
.art1 {
    box-shadow: 0px 10px 10px black;
    margin-top: 10vh;
    margin-left: 5vw;
    height: 30vh;
    max-width: 80vw;
}
.art2 {
    box-shadow: 0px 10px 10px black;
    margin-left: 18vw;
    height: 40vh;
}
.art3 {
    box-shadow: 0px 10px 10px black;
    margin-left: 2.5vw;
    height: 30vh;
    max-width: 85vw;
}
.piercer{
    box-shadow: 0px 10px 10px black;
    margin-left: 2.5vw;
    height: 30vh;
    max-width: 90vw;
}
.overlay {
    position: fixed;
    top: 0;
    background-color: rgba(87, 86, 86, 0.705);
    overflow: hidden;
    width: 0;
    height: 30%;
    transition: .5s ease;
  }
  
  .artist1:hover .overlay {
    width: 100%;
  }
  .artist2:hover .overlay {
    width: 100%;
  }.artist3:hover .overlay {
    width: 100%;
  }.artist4:hover .overlay {
    width: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }



  @media screen and (min-width: 768px) {
    .container {
        margin-left: 22vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .artists {
        margin-top: 20px;
    }
    .art1 {
        box-shadow: 0px 10px 10px black;
        margin-top: 10vh;
        margin-left: 6vw;
        height: 50vh;
        max-width: 80vw;
    }
    .art2 {
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 15vw;
        height: 70vh;
    }
    .art3 {
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 7vw;
        height: 50vh;
        max-width: 85vw;
    }
    .piercer{
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 2.5vw;
        height: 30vh;
        max-width: 90vw;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(87, 86, 86, 0.705);
        overflow: hidden;
        width: 0;
        height: 30%;
        transition: .5s ease;
      }
      
      .artist1:hover .overlay {
        width: 100%;
      }
      .artist2:hover .overlay {
        width: 100%;
      }.artist3:hover .overlay {
        width: 100%;
      }.artist4:hover .overlay {
        width: 100%;
      } 
  }
  
  @media screen and (max-width: 620px) {
    .container {
        margin-left: 5vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .artists {
        margin-top: 20px;
    }
    .art1 {
        box-shadow: 0px 10px 10px black;
        margin-top: 10vh;
        margin-left: 6vw;
        height: 30vh;
        max-width: 80vw;
    }
    .art2 {
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 15vw;
        height: 50vh;
    }
    .art3 {
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 7vw;
        height: 30vh;
        max-width: 85vw;
    }
    .piercer{
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 2.5vw;
        height: 30vh;
        max-width: 90vw;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(87, 86, 86, 0.705);
        overflow: hidden;
        width: 0;
        height: 30%;
        transition: .5s ease;
      }
      
      .artist1:hover .overlay {
        width: 100%;
      }
      .artist2:hover .overlay {
        width: 100%;
      }.artist3:hover .overlay {
        width: 100%;
      }.artist4:hover .overlay {
        width: 100%;
      } 
  }