
body {
    height: 150vh;
    width: 100vw;
}
 .nav-link{
    margin-left: 10px;
}
.form-inline{
    margin-left: 5vw;
    width: 75vw;
}
button {
    margin-top: 1rem;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.artists {
    margin-top: 20px;
}
.art1 {
    box-shadow: 0px 10px 10px black;
    margin-top: 10vh;
    margin-left: 5vw;
    height: 30vh;
    max-width: 80vw;
}
.art2 {
    box-shadow: 0px 10px 10px black;
    margin-left: 18vw;
    height: 40vh;
}
.art3 {
    box-shadow: 0px 10px 10px black;
    margin-left: 2.5vw;
    height: 30vh;
    max-width: 85vw;
}
.piercer{
    box-shadow: 0px 10px 10px black;
    margin-left: 2.5vw;
    height: 30vh;
    max-width: 90vw;
}

.Schedule {
  margin-top: 9rem;
  max-width: 100%;
  
}
.img__wrap {
  position: relative;
}
.img__wrap2 {
  position: relative;
}
.img__wrap3 {
  position: relative;
}
.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
.img__wrap2:hover .img__description2 {
  visibility: visible;
  opacity: 1;
}
.img__wrap3:hover .img__description3 {
  visibility: visible;
  opacity: 1;
}
 p {
  color: white;
   font-size: 3vw;
   padding-top: 27%;
 }
.img__description {
  text-align: center;
  position: absolute;
  top: 10vh;
  bottom: -2vh;
  left: 6vw;
  right: 26.5vw;
  background: rgba(206, 206, 206, 0.72);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity .8s, visibility .2s;
}

.img__description2 {
  text-align: center;
  position: absolute;
  top:2vh;
  bottom: -3vh;
  left: 7.2vw;
  right: 23vw;
  background: rgba(206, 206, 206, 0.72);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity .8s, visibility .2s;
}
.img__description3 {
  text-align: center;
  position: absolute;
  top:2.1vh;
  bottom: -3vh;
  left: 15vw;
  right: 42.5vw;
  background: rgba(206, 206, 206, 0.72);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity .8s, visibility .2s;
}
.logo {
  max-height: 8rem;
}
.navbar-brand {
  display:flex;
  flex-direction: row;
}
h1 {
  margin-top: 7vh;
  font-size: 1.5rem;
  font-family: 'Courgette', cursive;
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
@media screen and (min-width: 320px) {
  .artists {
    margin-left: 7vw;
  }
  .art3 {
   margin-left: 6vw; 
  }
  .Logo {
    width: 100px;
    height: 100px;
  }
  h1 {
    max-width: 20vw;
    font-size: 1.2rem;
  }
  .container {
    width: 100%;
  }
  .img__description {
    text-align: center;
    position: absolute;
    top: 10vh;
    bottom: 5;
    left: 5vw;
    right: 20vw;
  }
  .img__description2 {
    right: 17.5vw;
    left: 6vw;
    top: 0;
  }
  .img__description3 {
    right: 27.5vw;
    left: 18vw;
    top: 0;
  }

  @media screen and (min-width: 768px) {
    .container {
        margin-left: 17vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        width:80vw;
    }
    
    .artists {
        margin-top: 20px;
    }
    
    .art1 {
        box-shadow: 0px 10px 10px black;
        margin-top: 10vh;
        margin-left: 6vw;
        margin-right: 3vw;
        max-height: 55vh;
        max-width: 60vw;
    }
    .art2 {
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 15vw;
        max-height: 70vh;
    }
    .art3 {
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 7vw;
        max-height: 50vh;
        max-width: 85vw;
    }
    .piercer{
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 2.5vw;
        height: 30vh;
        max-width: 90vw;
    }
    .img__description {
      bottom: -2vh;
      left: 5.5vw;
      top: 10vh;
      right: 23.5vw;
    }
    .img__description2 {
      top: 2vh;
      left: 7vw;
      right: 20.5vw;
    }
    .img__description3 {
      right: 30.7vw;
      left: 15vw;
      top: 0.5vh;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container {
        margin-left: 5vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .img__description3 {
      right: 36.5vw;
      bottom: -2.8vh;
    }
    .img__description {
      right: 32vw;
      left: 6vw;
      top: 10vh;
      bottom: -2vh;
    }
    .img__description2 {
      right: 20vw;
      bottom: -2vh;
    }
    .artists {
        margin-top: 20px;
    }
    .art1 {
        box-shadow: 0px 10px 10px black;
        margin-top: 10vh;
        margin-left: 6vw;
        height: 30vh;
        max-width: 80vw;
    }
    .art2 {
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 15vw;
        height: 50vh;
    }
    .art3 {
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 7vw;
        height: 30vh;
        max-width: 85vw;
    }
    .piercer{
        margin-top: 15px;
        box-shadow: 0px 10px 10px black;
        margin-left: 2.5vw;
        height: 30vh;
        max-width: 90vw;
    }
  };

  }
  @media screen and (min-width: 900px) {
    
    .container {
      margin-left: 25vw;
    }
    .art1 {
      height: 45vh;
    }
    .art2 {
      height: 60vh;
    }
    .art3 {
      height: 45vh;
      margin-left: 3vw;
    }
    .img__description {
      text-align: center;
      position: absolute;
      top: 10vh;
      bottom: -2.5vh;
      left: 6.1vw;
      right: 20vw;
    }
    .img__description2 {
      text-align: center;
      position: absolute;
      top: 2vh;
      bottom: -1.8vh;
      left: 3vw;
      right: 25vw;
    }
    .img__description3 {
      text-align: center;
      position: absolute;
      top: 2vh;
      bottom: -2.3vh;
      left: 15vw;
      right: 33.5vw;
    }
    p {
      padding-top: 15%;
    }
    
  }
  @media screen and (min-width: 1024px) {
    .container {
      width: 80%;
    }
    .artists {
      margin-left: 0;
    }
    .art3 {
      margin-left: 6.5vw;
    }
    .img__description {
      right: 29vw;
    }
    .img__description3 {
      right: 36.7vw;
    }
    .img__description2 {
      right: 26.2vw;
      left: 6.5vw;
    }
    @media screen and (min-width: 1200px) {
      .img__description {
        right: 34vw;
      }
      .img__description2 {
        right: 32vw;
      }
      .img__description3 {
        right: 40vw;
      }
    
  }}